<!-- START #events-widget -->
<section class='widget' id='events-widget'>
  <header>
    <h3>
      Upcoming Events
    </h3>
    <a class='rss' href=''>RSS</a>
  </header>
  <ul>
    <li>
      <a class='event-item' href='#' title='Brief summary of article'>
        <h4>
          Event title
        </h4>
        <time datetime='2012-04-13'>
          Fri Jul 09, 2004
        </time>
        <h5>Event Location</h5>
      </a>
    </li>
    <li>
      <a class='event-item' href='#' title='Brief summary of article'>
        <h4>
          Event title
        </h4>
        <time datetime='2012-04-13'>
          Wed Dec 23, 2009
        </time>
        <h5>Event Location</h5>
      </a>
    </li>
    <li>
      <a class='event-item' href='#' title='Brief summary of article'>
        <h4>
          Event title
        </h4>
        <time datetime='2012-04-13'>
          Mon May 04, 2009
        </time>
        <h5>Event Location</h5>
      </a>
    </li>
  </ul>
  <footer>
    <a class='button' href='#' title='View all events'>
      All events &rarr;
    </a>
  </footer>
</section>
<!-- END #events-widget -->
