<!-- START .event-listing -->
<section class='events-listing'>
  <section class='latest-event'>
    <h2>Latest Events</h2>
    <!-- START .event-item -->
    <article class='event-item'>
      <header>
        <a class='read-more' href='event.html' title='Summary of event article'>
          <h3>
            ut quod quibusdam laborum quibusdam vitae tempora
          </h3>
        </a>
        <time datetime='2009-11-13T20:00Z'>
          3 hours ago
        </time>
        <div class='location'>at Location</div>
      </header>
      <div class='row'>
        <figure class=''>
          <a href='event.html' title='Summary of event article'>
            <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
            
          </a>
          <figcaption>
            A rem molestias repellat dolore dolorem et aut et aliquam deserunt recusandae facilis
          </figcaption>
        </figure>
        <section class='copy'>
          <p>
            Vitae asperiores distinctio consequuntur non vel doloribus tempore dolor ea. Distinctio veniam temporibus rerum sunt incidunt molestiae ipsam sit distinctio quos odio. Quaerat tempora dolor beatae illo totam molestias consectetur. Accusamus veritatis sint expedita ullam sunt quasi aut soluta qui praesentium. Consequatur vel fuga saepe facere perferendis et nostrum quae dolorem maiores suscipit maiores incidunt. Laborum quasi dolorem nobis cum magnam maiores necessitatibus voluptatibus voluptate. Animi cupiditate voluptatem ratione commodi laborum deserunt commodi nesciunt rem sed praesentium magni possimus. Itaque reiciendis voluptatem a voluptas labore nostrum et autem nisi omnis voluptatem odio maxime ratione. Alias ut rerum consequatur at veniam voluptatibus impedit ut ea rerum consequatur ipsum sunt. Qui quia enim odio praesentium laboriosam distinctio eos dolor ut aspernatur est et numquam. Nihil non aut mollitia quo adipisci autem dolorem tempora officia rerum similique
          </p>
          <footer>
            <a class='read-more' href='event.html' title='Summary of event article'>
              Read more &rarr;
            </a>
          </footer>
        </section>
      </div>
    </article>
    <!-- END .event-item -->
    <!-- START .event-item -->
    <article class='event-item'>
      <header>
        <a class='read-more' href='event.html' title='Summary of event article'>
          <h3>
            et optio nulla voluptatibus qui quibusdam et
          </h3>
        </a>
        <time datetime='2009-11-13T20:00Z'>
          3 hours ago
        </time>
        <div class='location'>at Location</div>
      </header>
      <div class='row'>
        <figure class=''>
          <a href='event.html' title='Summary of event article'>
            <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
            
          </a>
          <figcaption>
            Minima laboriosam nisi sequi necessitatibus rerum nisi hic voluptate
          </figcaption>
        </figure>
        <section class='copy'>
          <p>
            Tempora consectetur quo dolorem dolor quo aut molestiae est veritatis. Ratione voluptates maxime aut quia molestiae et odio nemo ratione ipsum voluptatem consequatur est. Exercitationem consequatur commodi non ut et maiores sunt nihil modi placeat in iste. Autem corrupti voluptatem consequatur rerum. Deserunt totam quae blanditiis provident enim dolores culpa. Consequuntur tempore at sunt necessitatibus dolor. Et atque quam vel totam est voluptatem harum non temporibus eum et qui quia nihil. Laudantium voluptas culpa maxime impedit magni eos enim sunt sint praesentium. Quia qui quia atque quos eius quisquam soluta velit et. Magni ullam voluptatem qui voluptatem et perspiciatis accusamus voluptas est
          </p>
          <footer>
            <a class='read-more' href='event.html' title='Summary of event article'>
              Read more &rarr;
            </a>
          </footer>
        </section>
      </div>
    </article>
    <!-- END .event-item -->
    <!-- START .event-item -->
<article class='event-item'>
  <header>
    <a class='read-more' href='event.html' title='Summary of event article'>
      <h3>
        quod laboriosam aut incidunt
      </h3>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
    <div class='location'>at Location</div>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='event.html' title='Summary of event article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Sint eligendi debitis quia ut libero quia
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Suscipit soluta praesentium voluptas cupiditate. Iusto nobis et nihil eos sit expedita suscipit voluptas facilis maiores qui sed. Sunt praesentium tempora omnis porro eligendi asperiores est. Laudantium rerum earum velit enim est reprehenderit facere animi voluptatem. Cumque qui veritatis sit. Fugit consectetur repellendus ut quaerat ut. Repellendus et iure sapiente nesciunt aut eos ipsa esse eaque. Sint non asperiores ducimus minima ut dicta alias perspiciatis et blanditiis vel. Quam commodi dolor nemo dolor et ut adipisci similique et velit porro fugiat alias repudiandae. Officiis sunt eius suscipit velit. Et explicabo exercitationem eveniet ipsa nostrum sed et ipsa quae a molestias dolore fugiat voluptate
      </p>
      <footer>
        <a class='read-more' href='event.html' title='Summary of event article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .event-item -->
    <!-- START .event-item -->
<article class='event-item'>
  <header>
    <a class='read-more' href='event.html' title='Summary of event article'>
      <h3>
        tempore et eligendi ut
      </h3>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
    <div class='location'>at Location</div>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='event.html' title='Summary of event article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Reprehenderit minus vel est omnis magni voluptatem et iure
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Optio dignissimos autem velit illo et consequuntur modi repellendus iusto. Est itaque exercitationem qui voluptate neque molestiae blanditiis. Nobis laborum eum tempore corporis eos ea quia mollitia. Cupiditate et molestiae natus doloremque earum velit asperiores. Ut amet repellat iste nam et est commodi voluptatem. Natus assumenda consequatur rerum recusandae minus laboriosam voluptas commodi enim illum. Voluptatem dolorem mollitia soluta non. Vitae explicabo recusandae sapiente asperiores placeat delectus necessitatibus nesciunt consequuntur. Molestiae cum voluptas enim
      </p>
      <footer>
        <a class='read-more' href='event.html' title='Summary of event article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .event-item -->
    <!-- START .event-item -->
<article class='event-item'>
  <header>
    <a class='read-more' href='event.html' title='Summary of event article'>
      <h3>
        ut aut quod occaecati
      </h3>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
    <div class='location'>at Location</div>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='event.html' title='Summary of event article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Eos ea voluptate laudantium enim reprehenderit accusantium
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Doloremque quia quis beatae ea consectetur aut rerum facere omnis natus qui quidem. Sit ut voluptatem ipsum assumenda voluptatum id aliquam. Deleniti voluptatem laudantium est cumque. Quos dignissimos veniam eos dolore sed debitis voluptatem quam harum necessitatibus nemo dicta et. Minus atque nulla laudantium distinctio minima. Praesentium magni recusandae reiciendis occaecati. Expedita beatae voluptas et hic enim occaecati quos tempora. Eaque et eos ea rem sit ex et enim voluptatem ipsum placeat tempore. Non possimus dolorem iusto iusto ex illo dolor dolorum tempora aut quisquam. Voluptatum iure consequuntur reprehenderit sed et possimus ipsum labore nemo. Quia saepe rerum vel odio modi ut dolores dolore voluptatibus ut dolores tempore iusto nulla. Inventore laudantium et nobis dolore voluptas esse fuga veritatis dolor consequuntur incidunt vel nam rerum
      </p>
      <footer>
        <a class='read-more' href='event.html' title='Summary of event article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .event-item -->
    <!-- START .event-item -->
    <article class='event-item'>
      <header>
        <a class='read-more' href='event.html' title='Summary of event article'>
          <h3>
            ipsum quis rerum
          </h3>
        </a>
        <time datetime='2009-11-13T20:00Z'>
          3 hours ago
        </time>
        <div class='location'>at Location</div>
      </header>
      <div class='row'>
        <figure class=''>
          <a href='event.html' title='Summary of event article'>
            <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
            
          </a>
          <figcaption>
            Voluptatem velit est consequuntur amet eos est dignissimos doloremque
          </figcaption>
        </figure>
        <section class='copy'>
          <p>
            Ratione ab dolores veritatis rerum sunt saepe quos a. Itaque laboriosam vel ab corporis. Aut perspiciatis sint distinctio aut quos nihil. Fugit iste ipsum facilis atque molestias voluptas aperiam illo debitis ipsum. Delectus ut quibusdam quae voluptatum temporibus ex et rerum et et distinctio. Nemo minus dignissimos nostrum consequatur rerum repellat alias perferendis modi. Qui facere sed eaque nisi repellendus a explicabo. Velit perspiciatis aut ab incidunt
          </p>
          <footer>
            <a class='read-more' href='event.html' title='Summary of event article'>
              Read more &rarr;
            </a>
          </footer>
        </section>
      </div>
    </article>
    <!-- END .event-item -->
  </section>
</section>
<!-- END .event-listing -->
