<!-- START facebook -->
<section id='facebook'>
  <h3>
    Woo Facebook!
  </h3>
  <div class='user'>
    Facebook Username
  </div>
  <p>Check out this Facebook nonsense I posted to my 'wall' to appear down-with-the-kids.</p>
  <div class='time'>
    3 hours ago
  </div>
  <a>
    Visit us on Facebook &rarr;
  </a>
</section>
<!-- END facebook -->
