<section class='flickr-photostream-widget widget'>
  <header>
    <h3>Flickr Photostream</h3>
  </header>
  <div id='flickr-widget'></div>
  <footer>
    <a class='read-more'>
      View all images &rarr;
    </a>
  </footer>
</section>
