<!-- START .carousel -->
<section class='carousel'>
  <figure class='figure-0'>
    <img src="http://www.imgsrc.me/978x480/dddddd/858585" width="978" height="480" />
    <figcaption>
      Officia eos qui ut sint qui
    </figcaption>
  </figure>
  <figure class='figure-1'>
    <img src="http://www.imgsrc.me/978x480/dddddd/858585" width="978" height="480" />
    <figcaption>
      Illum amet inventore vel velit
    </figcaption>
  </figure>
  <figure class='figure-2'>
    <img src="http://www.imgsrc.me/978x480/dddddd/858585" width="978" height="480" />
    <figcaption>
      Numquam tempore hic fugiat ipsa ipsa maxime
    </figcaption>
  </figure>
  <figure class='figure-3'>
    <img src="http://www.imgsrc.me/978x480/dddddd/858585" width="978" height="480" />
    <figcaption>
      Odit voluptate et et itaque et corrupti autem voluptas
    </figcaption>
  </figure>
  <figure class='figure-4'>
    <img src="http://www.imgsrc.me/978x480/dddddd/858585" width="978" height="480" />
    <figcaption>
      Aspernatur quasi magni quis temporibus tempore maxime laboriosam
    </figcaption>
  </figure>
</section>
<!-- END .carousel -->
