<!-- START #contact-form -->
<div id='contact-form'>
  <span class='required'>
    *indicates required field
  </span>
  <div class="field">
  
  <label for="forename">
  
  First Name
  
  <span title="Required">*</span>
  
  </label>
  
  <input id="forename" name="forename" type="text" placeholder="e.g. Rhodri" class="field-textbox" />
  
  <span class="field-error">Enter name</span>
  
  </div>
  
  <div class="field">
  
  <label for="surname">
  
  Surname
  
  <span title="Required">*</span>
  
  </label>
  
  <input id="surname" name="surname" type="text" placeholder="e.g. Jones" class="field-textbox" />
  
  <span class="field-error">This field must be filled in</span>
  
  </div>
  
  <div class="field">
  
  <label for="email">
  
  Email
  
  <span title="Required">*</span>
  
  </label>
  
  <input id="email" name="email" type="email" placeholder="you@yourdomain.com" class="field-textbox" />
  
  <span class="field-error">This field must be filled in</span>
  
  </div>
  
  <div class="field">
  <label for="selectbox_1">
  What are you contacting us about?
  
  </label>
  
  <select id="selectbox_1" name="selectbox_1" class="field-selectbox" />
  
  <option value="1" selected="selected">All</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
  <option value="4">Option 4</option>
  </select>
  
  </div>
  
  <div class="field">
  
  <label for="text_1">
  
  Message
  
  <span title="Required">*</span>
  
  </label>
  
  <textarea id="text_1" name="text_1" placeholder="Enter Comments" class="field-textbox"></textarea>
  
  <span class="field-error">This field must be filled in</span>
  
  </div>
  
  <input type='submit' value='Send message' />
</div>
<!-- END #contact-form -->
