<!-- START Login Form -->
<form>
  <section id='login-form'>
    <fieldset id='login'>
      <legend>
        Log in
      </legend>
      <div class='field'>
        <label for='email-field'>
          Email
        </label>
        <input id='email-field' placeholder='Type your email here' type='email' />
      </div>
      <div class='field'>
        <label for='password-field'>
          Password
        </label>
        <input id='password-field' type='password' />
      </div>
      <input type='submit' value='Log in' />
      <a href='#'>
        Reset password
      </a>
    </fieldset>
    <fieldset id='social-login'>
      <legend>
        Or
      </legend>
      <input type='submit' value='Sign in with Facebook' />
      <input type='submit' value='Sign in with Twitter' />
    </fieldset>
  </section>
</form>
<!-- END Login Form -->
