<!-- START Password-reset -->
<form>
  <section id='password-reset'>
    <fieldset>
      <legend>
        Reset password
      </legend>
      <p>
        Type your email address below to reset your password.
      </p>
      <div class='field'>
        <label for='email-address'>
          Email address
        </label>
        <input id='email-address' type='text' />
      </div>
      <span class='invalid'>
        Email address not found in our system.
      </span>
      <input type='submit' value='Reset my password' />
    </fieldset>
  </section>
</form>
<!-- END Password-reset -->
<!-- START password-reset-success -->
<section id='password-reset-success'>
  <p>
    We've emailed you a link to reset your password. Please check your email.
  </p>
  <a class='button' href='/'>
    Back to home
  </a>
</section>
<!-- END password-reset-success -->
