<!-- START .video -->
<section class='video'>
  <video controls='controls' height='125' id='player1' poster='http://placehold.development2.sequence.co.uk/?form=png&amp;w=320&amp;h=240&amp;t=splash%20screen' preload='none' width='222'>
    <source src='http://www.youtube.com/watch?v=UAqdKKusisw' type='video/x-youtube'></source>
  </video>
  <span id='player1-mode'></span>
</section>
<!-- END .video -->
<!--
  INTERNAL VIDEO
  <video controls='controls' height='240' poster='' preload='none' width='320'>
    <source src='media/video.mp4' type='video/mp4'></source>
    <source src='media/video.webm' type='video/webm'></source>
    <source src='media/video.ogv' type='video/ogg'></source>
    <object data='player.swf' height='240' type='application/x-shockwave-flash' width='320'>
      <param name='movie' value='player.swf' />
      <param name='flashvars' value='controls=true&amp;amp;poster=media/video.jpg&amp;amp;file=media/video.mp4'>
        <img src="http://www.imgsrc.me/320x240/dddddd/858585" width="320" height="240" />
        
      </param>
    </object>
  </video>
-->
<!--
  USAGE:
  interal - video/mp4, video/webm, video/ogg
  youtube - video/youtube
  poster  - splash screen
  object  - flash fallback
-->
