<!-- START .news-listing -->
<section class='news-listing'>
  <!-- START .news-item -->
  <article class='news-item'>
    <header>
      <a class='read-more' href='news-article.html' title='Summary of news article'>
        <h2>
          iusto et delectus
        </h2>
      </a>
      <time datetime='2009-11-13T20:00Z'>
        3 hours ago
      </time>
    </header>
    <div class='row'>
      <figure class=''>
        <a href='news-article.html' title='Summary of news article'>
          <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
          
        </a>
        <figcaption>
          Commodi voluptatibus repellendus accusantium amet provident assumenda et officiis perspiciatis vel omnis quasi
        </figcaption>
      </figure>
      <section class='copy'>
        <p>
          Repudiandae adipisci est at et. Officia id tempora harum commodi quis eos ut. Qui nihil maxime distinctio eveniet magni distinctio aut. Architecto natus minus placeat incidunt ullam autem quia nostrum dolores exercitationem incidunt. Laboriosam maxime ullam iusto et consequatur ut tempore dolor quaerat debitis dolores quia dolores adipisci. In et non ut quia explicabo sunt. Sunt molestiae omnis officia ex. Sapiente aut itaque eos et aut repudiandae omnis laudantium consequuntur quisquam sunt. Quam asperiores modi beatae vitae dolorum quae sint facilis est aliquid praesentium. Officiis voluptatem rerum sed sapiente aliquam. Sint illum sunt neque. Voluptatum inventore nesciunt magni sed illo id
        </p>
        <footer>
          <a class='read-more' href='news-article.html' title='Summary of news article'>
            Read more &rarr;
          </a>
        </footer>
      </section>
    </div>
  </article>
  <!-- END .news-item -->
  <!-- START .news-item -->
  <article class='news-item'>
    <header>
      <a class='read-more' href='news-article.html' title='Summary of news article'>
        <h2>
          doloremque rerum quos porro quidem exercitationem
        </h2>
      </a>
      <time datetime='2009-11-13T20:00Z'>
        3 hours ago
      </time>
    </header>
    <div class='row'>
      <figure class=''>
        <a href='news-article.html' title='Summary of news article'>
          <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
          
        </a>
        <figcaption>
          Provident consequuntur voluptatem ab dolor
        </figcaption>
      </figure>
      <section class='copy'>
        <p>
          Qui sit eos sit recusandae qui autem eum dolores dignissimos rerum dicta ab ut perferendis. Neque molestiae sint recusandae vitae incidunt facere ex. In ea tenetur non. Aspernatur at aut voluptatem fugit cupiditate ipsam dicta labore iste rem doloremque impedit culpa ipsa. Ut inventore accusamus iste recusandae eligendi rerum sed praesentium qui dolores necessitatibus laudantium. Rerum ipsum eos provident est laudantium quia hic consequatur eaque esse voluptatibus. Explicabo est ipsam molestias magnam ut eum. Recusandae repudiandae sunt illo consequuntur velit ullam et beatae ullam eveniet
        </p>
        <footer>
          <a class='read-more' href='news-article.html' title='Summary of news article'>
            Read more &rarr;
          </a>
        </footer>
      </section>
    </div>
  </article>
  <!-- END .news-item -->
  <!-- START .news-item -->
<article class='news-item'>
  <header>
    <a class='read-more' href='news-article.html' title='Summary of news article'>
      <h2>
        earum amet recusandae exercitationem
      </h2>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='news-article.html' title='Summary of news article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Eligendi magnam ratione necessitatibus voluptas magnam aut voluptatem dolores nesciunt aut vitae ut
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Quis necessitatibus assumenda odit qui laudantium in molestias saepe voluptas harum velit ipsam. Odit voluptate occaecati repellendus consequatur fugiat. Velit dicta animi dolore inventore cum. Cupiditate reprehenderit voluptate architecto sunt doloremque distinctio voluptates. Ducimus nulla autem pariatur rerum. Porro id nam qui deserunt iure vero quia id vel ipsum quis ut quo laborum. Laborum soluta voluptatem sint praesentium nulla. Corrupti mollitia vitae harum quo consectetur totam nobis vitae eligendi esse. Ex facilis a aperiam molestiae repudiandae quis
      </p>
      <footer>
        <a class='read-more' href='news-article.html' title='Summary of news article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .news-item -->
  <!-- START .news-item -->
<article class='news-item'>
  <header>
    <a class='read-more' href='news-article.html' title='Summary of news article'>
      <h2>
        corrupti ipsum atque
      </h2>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='news-article.html' title='Summary of news article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Quae qui itaque quod tempora beatae a optio at inventore suscipit sed eaque ab
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Quia distinctio eligendi rerum quia. Qui pariatur recusandae reprehenderit eum explicabo id deleniti. Eveniet ipsa natus et non. Adipisci quia omnis minus nesciunt pariatur quia delectus est. Libero at et veniam accusantium voluptas. Et eveniet doloremque aut quas aliquid. Et qui mollitia eius consectetur et ad aliquam autem libero delectus. Eum voluptas consectetur mollitia id ea consectetur non. Suscipit voluptatem voluptatibus ducimus enim neque adipisci voluptatem voluptate sint. Ab voluptatem non quod ut qui dolor dolorem rerum facere possimus vitae autem
      </p>
      <footer>
        <a class='read-more' href='news-article.html' title='Summary of news article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .news-item -->
  <!-- START .news-item -->
<article class='news-item'>
  <header>
    <a class='read-more' href='news-article.html' title='Summary of news article'>
      <h2>
        rem ut ipsam hic tempora
      </h2>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='news-article.html' title='Summary of news article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Consectetur est nemo voluptas
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Recusandae necessitatibus eos voluptatibus velit. Iste qui amet deleniti velit voluptate quis placeat et. Est quasi dolores dolores nihil quis vitae aspernatur vero. Eum nisi nulla odio consequuntur. Reprehenderit consequatur aut molestiae natus enim. Aut porro nobis quia quos eum dolores dicta. Nihil est explicabo sit molestias in sed numquam blanditiis possimus blanditiis temporibus alias. Et aut dolores recusandae perferendis nihil. Aspernatur sapiente sit veniam et molestias nesciunt sunt ut rerum minima provident architecto tempore illo. Veniam doloremque soluta voluptatum quo aut sit adipisci ipsam et perspiciatis suscipit. Ipsum nam amet corrupti voluptatem eaque reprehenderit est
      </p>
      <footer>
        <a class='read-more' href='news-article.html' title='Summary of news article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .news-item -->
  <!-- START .news-item -->
  <article class='news-item'>
    <header>
      <a class='read-more' href='news-article.html' title='Summary of news article'>
        <h2>
          earum laboriosam sunt porro placeat ad amet
        </h2>
      </a>
      <time datetime='2009-11-13T20:00Z'>
        3 hours ago
      </time>
    </header>
    <div class='row'>
      <figure class=''>
        <a href='news-article.html' title='Summary of news article'>
          <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
          
        </a>
        <figcaption>
          Iure beatae et consectetur commodi asperiores
        </figcaption>
      </figure>
      <section class='copy'>
        <p>
          Sed ipsa accusamus qui ut rerum quia aut sit similique voluptas. Nemo voluptatum non quia sit praesentium. Sit dignissimos minus exercitationem laborum cum consectetur rerum corporis dolorum quaerat vitae corrupti id. Sed aut architecto error eum facere architecto earum et dolor. Voluptas neque sequi quia voluptates. Sit iusto nostrum animi ut praesentium quod veritatis sint culpa commodi dolorum et et. Et perferendis impedit dolorum doloribus quae. Nisi pariatur possimus vel eveniet est incidunt
        </p>
        <footer>
          <a class='read-more' href='news-article.html' title='Summary of news article'>
            Read more &rarr;
          </a>
        </footer>
      </section>
    </div>
  </article>
  <!-- END .news-item -->
  <!-- START .news-item -->
<article class='news-item'>
  <header>
    <a class='read-more' href='news-article.html' title='Summary of news article'>
      <h2>
        debitis exercitationem minus autem qui ut iure
      </h2>
    </a>
    <time datetime='2009-11-13T20:00Z'>
      3 hours ago
    </time>
  </header>
  <div class='row'>
    <figure class=''>
      <a href='news-article.html' title='Summary of news article'>
        <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
        
      </a>
      <figcaption>
        Iure iusto reiciendis impedit at
      </figcaption>
    </figure>
    <section class='copy'>
      <p>
        Laborum ut aliquam et dolor. In suscipit quibusdam optio eveniet consequatur sit sint consectetur quo omnis et voluptatibus et libero. Non nihil dolores voluptatum mollitia quam recusandae quae cum consequatur rerum nam. Voluptatum provident reiciendis odit mollitia quod magni itaque iste ut. Eaque itaque dolor exercitationem itaque assumenda libero suscipit illum eaque aspernatur molestias ea fuga. Aut quia qui fugit reprehenderit tenetur nam eos ut temporibus quisquam dignissimos dolorem molestiae repellendus. Non rem ipsa molestias dolores fugiat. Repellendus optio quidem dignissimos exercitationem velit quae. Molestiae impedit rerum cumque quidem reprehenderit laboriosam quia delectus voluptatum esse. Voluptas voluptatem illum odio quasi ad quaerat sint nesciunt quae omnis itaque sint. Officiis modi id nihil molestias odit possimus reiciendis libero laboriosam dolor laboriosam voluptate. Molestias aut impedit vitae
      </p>
      <footer>
        <a class='read-more' href='news-article.html' title='Summary of news article'>
          Read more &rarr;
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- END .news-item -->
  <!-- START .news-item -->
  <article class='news-item'>
    <header>
      <a class='read-more' href='news-article.html' title='Summary of news article'>
        <h2>
          molestiae qui sed quos qui
        </h2>
      </a>
      <time datetime='2009-11-13T20:00Z'>
        3 hours ago
      </time>
    </header>
    <div class='row'>
      <figure class=''>
        <a href='news-article.html' title='Summary of news article'>
          <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
          
        </a>
        <figcaption>
          Alias consequatur odio ipsam eum et eveniet nulla quo facilis ut
        </figcaption>
      </figure>
      <section class='copy'>
        <p>
          Non numquam dolore quo. Placeat et aspernatur officia voluptatem et architecto illo est exercitationem asperiores molestiae facilis. Cum accusantium consectetur laborum porro eligendi recusandae omnis id. Qui cum laboriosam nesciunt laboriosam dolorem magnam exercitationem laboriosam debitis neque eligendi. Quas et sunt occaecati distinctio eligendi molestiae impedit tempora vero et. Id non aut nostrum. Aut eius blanditiis est et natus eum eius aut non harum in dolores. Rem non est deserunt nulla enim vel minima
        </p>
        <footer>
          <a class='read-more' href='news-article.html' title='Summary of news article'>
            Read more &rarr;
          </a>
        </footer>
      </section>
    </div>
  </article>
  <!-- END .news-item -->
  <!-- START .news-item -->
  <article class='news-item'>
    <header>
      <a class='read-more' href='news-article.html' title='Summary of news article'>
        <h2>
          sed quos voluptatem inventore mollitia non sunt
        </h2>
      </a>
      <time datetime='2009-11-13T20:00Z'>
        3 hours ago
      </time>
    </header>
    <div class='row'>
      <figure class=''>
        <a href='news-article.html' title='Summary of news article'>
          <img src="http://www.imgsrc.me/306x171/dddddd/858585" width="306" height="171" />
          
        </a>
        <figcaption>
          Animi quia dolores aut repudiandae consequuntur fuga qui veritatis sint
        </figcaption>
      </figure>
      <section class='copy'>
        <p>
          Adipisci quia sapiente sit nisi ut sequi aut qui. Quidem qui voluptates temporibus culpa est ratione ducimus et dolores nobis perferendis mollitia modi odit. Autem dolorem sunt alias tempora similique odio. Tempora molestias et ducimus corporis distinctio in. Autem aperiam suscipit in ipsa quos et alias vel quo. Libero omnis minus delectus dolorum non sed expedita odit ipsa quis cum. Ipsum dolor quod eveniet tempore. Quo necessitatibus laboriosam pariatur facilis quia recusandae ullam laudantium voluptatem et corporis provident autem. Aut consectetur cumque rerum et tenetur voluptatem placeat id dolorum. Numquam consequuntur accusantium dignissimos recusandae labore beatae qui optio
        </p>
        <footer>
          <a class='read-more' href='news-article.html' title='Summary of news article'>
            Read more &rarr;
          </a>
        </footer>
      </section>
    </div>
  </article>
  <!-- END .news-item -->
</section>
<!-- END .news-listing -->
