<!-- START site-search -->
<section class='mini-search'>
  <label accesskey='4' for='search'>Search</label>
  <input class='field-search' id='search' placeholder='Enter keyword' type='text' />
  <input class='btn-search' type='submit' value='Go' />
</section>
<!-- END site-search -->
