<section class='widget' id='archives-widget'>
  <header>
    <h3>
      Archives
    </h3>
  </header>
  <ul>
    <li>
      <a href='#' title='Archive description'>
        January 2012 (2)
      </a>
    </li>
    <li>
      <a href='#' title='Archive description'>
        February 2012 (2)
      </a>
    </li>
    <li>
      <a href='#' title='Archive description'>
        March 2012 (3)
      </a>
    </li>
    <li>
      <a href='#' title='Archive description'>
        April 2012 (1)
      </a>
    </li>
    <li>
      <a href='#' title='Archive description'>
        May 2012 (2)
      </a>
    </li>
    <li>
      <a href='#' title='Archive description'>
        June 2012 (1)
      </a>
    </li>
  </ul>
</section>
