<article class='blog-post-CTA'>
  <img src="http://www.imgsrc.me/220x117/dddddd/858585" width="220" height="117" />
  
  <header>
    <h3>
      nostrum corrupti maiores deleniti
    </h3>
    <time class='published updated' datetime='2009-11-04'>
      November 4th, 2009
    </time>
  </header>
  <p>
    Incidunt debitis ab vero nam quia
  </p>
  <div class='social'></div>
  <a class='read-more'>
    Read more &rarr;
  </a>
</article>
