<section class='widget' id='blog-subscribe'>
  <header>
    <h3>Subscribe</h3>
  </header>
  <ul>
    <li>
      <a class='RSS' href='#'>
        Subscribe via RSS
      </a>
    </li>
    <li>
      <a class='email' href='#'>
        Subscribe via Email
      </a>
    </li>
    <li>
      <a class='twitter' href='#'>
        Follow us on Twitter
      </a>
    </li>
    <li>
      <a class='facebook' href='#'>
        Like our Facebook Page
      </a>
    </li>
  </ul>
</section>
