<article class='post'>
  <header>
    <h2>
      magni exercitationem inventore nemo minus explicabo
    </h2>
    <div class='meta'>
      <div class='vcard'>
        by
        <address class='author'>
          <a href='#' title='Posts by John Doe'>
            John Doe
          </a>
        </address>
        on
        <time class='published updated' datetime='2009-11-04'>
          November 4th, 2009
        </time>
      </div>
    </div>
  </header>
  <figure>
    <img src="http://www.imgsrc.me/726x405/dddddd/858585" width="726" height="405" />
    
    <figcaption>
      fig.1
    </figcaption>
  </figure>
  <h2>
    laboriosam odio aut ad et odio
  </h2>
  <p>
    Architecto qui saepe eaque aut deserunt maxime itaque inventore et saepe et tempore. Eum expedita ratione accusamus dolorem esse itaque voluptatem dolores magni facilis omnis perferendis mollitia. Doloribus explicabo dolorem aspernatur ipsum omnis quisquam qui. Omnis aperiam eius nemo delectus necessitatibus quia neque. Amet et at voluptatibus voluptas est repellendus est autem. Vero odit accusamus vel reprehenderit et sed eveniet enim voluptatem nostrum. Autem ullam debitis corporis. Recusandae quia dolorem itaque eius amet occaecati voluptatem
  </p>
  <footer>
    <section class='categories'>
      <h4>
        Featured in:
      </h4>
      <ul>
        <li>
          "2"
          <a href='#' title='Category'>
            suscipit
          </a>
        </li>
        <li>
          "2"
          <a href='#' title='Category'>
            harum
          </a>
        </li>
      </ul>
    </section>
    <section class='tags'>
      <h4>
        Tagged:
      </h4>
      <ul>
        <li>
          <a href='#' title='Tag'>
            omnis
          </a>
        </li>
        <li>
          <a href='#' title='Tag'>
            adipisci
          </a>
        </li>
      </ul>
    </section>
    <!-- START social share/bookmarking -->
    <section class='social-share'>
      <h3>Share this page</h3>
      <ul>
        <!-- START fb-like -->
        <li>
          <div id='fb-root'></div>
          <div class='fb-like' data-href='http://www.sequence.co.uk' data-layout='button_count' data-send='false' data-show-faces='false' data-width='100'></div>
        </li>
        <!-- END fb.like -->
        <!-- START twitter -->
        <!-- https://dev.twitter.com/docs/tweet-button -->
        <li>
          <a class='twitter-share-button' data-size='2' data-url='http://www.sequence.co.uk' data-via='your_screen_name' href='http://twitter.com/share'>
            Tweet!
          </a>
          <!-- END twitter -->
        </li>
        <!-- START Google+ -->
        <li>
          <div class='g-plus' data-action='share' data-annotation='bubble' data-href='http://www.sequence.co.uk'></div>
        </li>
        <!-- END Google+ -->
      </ul>
    </section>
  </footer>
</article>
