<section class='widget' id='contact-widget'>
  <h3>Get in touch</h3>
  <div class='map'>
    <img src="http://www.imgsrc.me/222x165/dddddd/858585" width="222" height="165" />
    
  </div>
  <a class='read-more'>
    View larger map &rarr;
  </a>
  <div class='vcard'>
    <h4>Address</h4>
    <div class='org'>Your Company</div>
    <div class='adr'>
      <div class='street-address'>Fitzalan House</div>
      Fitzalan Place
      <div class='locality'>Cardiff</div>
      <div class='postal-code'>CF24 0EL</div>
    </div>
    <h4>Phone</h4>
    <div class='tel'>0800 888000</div>
    <h4>Email</h4>
    <a class='email' href='mailto:help@company.co.uk'>help@company.co.uk</a>
  </div>
</section>
