<!-- / 3rd party libs -->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'></script>
<script src='js/thirdparty/ga.social.js'></script>
<script src='js/thirdparty/harvey.js'></script>
<!-- %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"} -->
<!-- / Sequence libs -->
<script src='js/sequence/modules/googleanalytics/google-analytics.js'></script>
<script src='/js/sequence/utils/utils.js'></script>
<script src='/js/sequence/utils/date/dateutils.js'></script>
<script src='/js/sequence/utils/browser/media-queries.js'></script>
<script src='/js/sequence/effects/transition/transition.js'></script>
<script src='/js/sequence/effects/transition/transitioncontroller.js'></script>
<script src='/js/sequence/effects/transition/transitiondelegate.js'></script>
<script src='/js/sequence/modules/nav/nav.js'></script>
<script src='/js/sequence/modules/twitter/twitter.js'></script>
<script src='/js/sequence/modules/facebook/facebook-stats.js'></script>
<script src='/js/sequence/modules/facebook/facebook-share.js'></script>
<script src='/js/sequence/modules/facebook/facebook-api-loader.js'></script>
<script src='/js/sequence/modules/twitter/twitter-share.js'></script>
<script src='/js/sequence/modules/google-plus/google-plus.js'></script>
<script src='/js/sequence/modules/coffeeslider/baseslider.js'></script>
<script src='/js/sequence/modules/coffeeslider/dotnav.js'></script>
<script src='/js/sequence/modules/coffeeslider/coffeeslider.js'></script>
<script src='/js/sequence/modules/coffeeslider/thumbslider.js'></script>
<script src='/js/sequence/modules/coffeeslider/coffeegallery.js'></script>
<script src='/js/sequence/modules/google-plus/google-plus.js'></script>
<script src='/js/sequence/modules/video/mediaelement-and-player.js'></script>
<script src='/js/sequence/modules/maps/googlemapsapicontroller.js'></script>
<script src='/js/sequence/modules/maps/googlemap.js'></script>
<script src='/js/sequence/modules/maps/maplocationscontroller.js'></script>
<script src='/js/sequence/modules/accordion/accordion.js'></script>
<script src='/js/sequence/modules/accordion/accordiongroup.js'></script>
<script src='/js/sequence/app.js'></script>
