<header id='site-header'>
  <div class='row'>
    <section id='branding'>
      <a href='#' title='Company Name'>
        Mego
      </a>
      <p>
        Rapid prototyping framework for speedy development.
      </p>
    </section>
    <!-- START mini-search -->
    <section class='mini-search '>
      <label for='search'>Search</label>
      <input class='field-search' id='search' placeholder='Enter keyword' type='text' />
      <button class='btn-search' type='submit'>
        Search
      </button>
    </section>
    <!-- END mini-search -->
  </div>
  <div class='row'>
    <nav id='primary-nav'>
      <ul>
        <li class=''>
          <a class='' href='index.html'>
            Home
          </a>
        </li>
        <li class='subnav-parent'>
          <a class='' href='generic-page.html'>
            Generic Page
          </a>
          <ul class='sub-nav'>
            <li>
              <a class='' href='generic-page.html'>
                Some Inner Page 1
              </a>
            </li>
            <li>
              <a class='' href='generic-page.html'>
                Some Inner Page 2
              </a>
            </li>
            <li>
              <a class='' href='generic-page.html'>
                Some Inner Page 3
              </a>
            </li>
          </ul>
        </li>
        <li class=''>
          <a class='' href='contact-us.html'>
            Contact Us
          </a>
        </li>
        <li class=''>
          <a class='' href='events.html'>
            Events
          </a>
        </li>
        <li class=''>
          <a class='' href='faq.html'>
            FAQs
          </a>
        </li>
        <li class=''>
          <a class='' href='blog.html'>
            Blog
          </a>
        </li>
        <li class=''>
          <a class='' href='blog-post.html'>
            Blog Post
          </a>
        </li>
        <li class=''>
          <a class='' href='locations.html'>
            Locations
          </a>
        </li>
        <li class=''>
          <a class='' href='news.html'>
            News
          </a>
        </li>
        <li class=''>
          <a class='' href='visual-language.html'>
            Visual language
          </a>
        </li>
        <li class=''>
          <a class='' href='includes/modules/events/events-listing.html'>
            
          </a>
        </li>
      </ul>
    </nav>
    <!-- MM 2 style nav -->
    <!-- - structure = [{:href=>"index", :title=>"Home"}, -->
    <!-- {:href=>"about-us", :title=>"About Us"}, -->
    <!-- {:href=>"projects", :title=>"Projects"}, -->
    <!-- {:href=>"news", :title=>"News"}, -->
    <!-- {:href=>"events", :title=>"Events"}, -->
    <!-- {:href=>"blog", :title=>"Blog"}, -->
    <!-- {:href=>"gallery", :title=>"Gallery"}, -->
    <!-- {:href=>"case-studies", :title=>"Case Studies"}, -->
    <!-- {:href=>"contact-us", :title=>"Contact Us"}] -->
    <!-- %nav#primary-nav -->
    <!-- %ul -->
    <!-- - structure.each do |page| -->
    <!-- %li -->
    <!-- %a{:href=>"#{page[:href]}.html", :class=>"#{page[:href]+'.html' == request.path ? 'active' : ''}"} -->
    <!-- #{page[:title]} -->
  </div>
  
</header>
