<!-- START Simple CTA -->
<section class='cta'>
  <a href='#' title='Title'>
    <figure>
      <img src="http://www.imgsrc.me/235x174/dddddd/858585" width="235" height="174" />
      
    </figure>
    <h3>
      similique
    </h3>
  </a>
</section>
<!-- END Simple CTA -->
