<a class='widget cta' href='#' title='Title'>
  <h3>Call to action</h3>
  <figure>
    <img src="http://www.imgsrc.me/280x180/dddddd/858585" width="280" height="180" />
    
  </figure>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <span class='read-more'>Read more ></span>
</a>
